<!doctype html>
<title>Greenworld - {{ plant['name'] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% import 'macros/scripting.html' as scripting %}
{{ scripting.render() }}

<!-- Navigate to reports page -->
<p>
    Search for compatibility analysis with another plant:
</p>
{% import 'macros/search.html' as search %}
{{ search.render('(val) => `report/' + plant['species'] + '/${val}`') }}
<br/>
<br/>
<br/>

<!-- Include plant view -->
{% import 'macros/plant.html' as plant_view %}
{{ plant_view.render(plant, False) }}
