<!doctype html>
<title>Greenworld - {{ plant1['name'] }} x {{ plant2['name'] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<h2>
    {{ plant1['name'] }} x {{ plant2['name'] }}
</h2>

<!-- Suggested ranges -->
<p>
    <b>Suggested range:</b>
    <span id="suggested">
        {% if report['range_union_max'] == MAX_PLANTING_RANGE %}
            {{ report['range_union_min']|round(3) }}+ m
        {% else %}
            {{ report['range_union_min']|round(3) }}m - {{ report['range_union_max']|round(3) }}m
        {% endif %}
    </span>
</p>
<table class="ranges-table">
{% for pair in report['report'] %}
    {% set interval, reason = pair %}
    <tr>
        {% if interval %}
            {% set lower, upper = interval %}
            <td><input type="checkbox" onchange="clicked(event, {{ loop.index0 }})" checked /></td>
            {% if upper == MAX_PLANTING_RANGE %}
                <td>{{ lower }}+ m</td>
            {% else %}
                <td>{{ lower }}m - {{ upper }}m</td>
            {% endif %}
        {% else %}
            <td></td>
            <td></td>
        {% endif %}
        <td>{{ reason }}</td>
    </tr>
{% endfor %}
</table>
<br/>
<br/>
<br/>

<!-- Include plant views -->
{% import 'macros/plant.html' as plant_view %}
{{ plant_view.render(plant1, True) }}
{% if plant2.species != plant1.species %}
    {{ plant_view.render(plant2, True) }}
{% endif %}

<script>
const intervals = [
{% for pair in report['report'] %}
    {% set interval, _ = pair %}
    {% if interval %}
        {{ interval }},
    {% endif %}
{% endfor %}
    undefined
].filter(x => x);

const activated = [];
for (let a = 0; a < intervals.length; a++) {
    activated.push(true);
}

function clicked(e, index) {
    activated[index] = e.target.checked;
    let max_dist = {{ MAX_PLANTING_RANGE }};
    let min_dist = 0;
    for (const interval of intervals.filter((_, i) => activated[i])) {
        if (interval[0] > min_dist) {
            min_dist = interval[0]
            max_dist = interval[1]
        }
    }
    for (const interval of intervals.filter((_, i) => activated[i])) {
        if (interval[1] > min_dist && interval[1] < max_dist) {
            max_dist = interval[1]
        }
    }
    document.getElementById('suggested').innerHTML = (max_dist === {{ MAX_PLANTING_RANGE }})
        ? `${min_dist}+ m`
        : `${min_dist}m - ${max_dist}m`;
}

</script>
