[MASTER]
argument-rgx=^[a-z][a-z0-9]*(_[a-z0-9]+)*$
variable-rgx=^[a-z][a-z0-9]*(_[a-z0-9]+)*$
disable=
  C0114, # missing-module-docstring
  C0115, # missing-class-docstring
  C0116, # missing-function-docstring
  C0304, # missing-final-newline
  R0903, # too-few-public-methods
  R0801, # Similar lines in 2 files
  R1732, # consider-using-with