# Database and types
SQLAlchemy >= 2.0.0
SQLAlchemy-Utils
psycopg2-binary
intervals

# Auxiliary tasks
pytest
pylint
djlint

# Server
flask

# Data collection
openpyxl
requests
schema
xlrd

# Data science
matplotlib
pandas
scipy