<!doctype html>
<title>Greenworld - Companion Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<p>
    Find a plant's companions by various query options
</p>

<div>
    Threshold:
    <input id="threshold" type="number" value="0.2"></input>
    m
</div>

<div>
    Plant:
    {% import 'macros/search.html' as lookup %}
    {{ lookup.render(None, '(plant) => plantLink(plant)') }}
</div>

<div id="companion-results"></div>

</br>

<script>
function plantLink(plant) {
    return `<a onclick="renderCompanions(${plant.id}, \`${plant.name}\`, '${plant.species}')">${plant.name} (<i>${plant.species}</i>)</a></br>`;
}

async function renderCompanions(id, name, species) {
    const thresh = parseFloat(document.getElementById('threshold').value);
    const results = document.getElementById('companion-results');
    results.innerHTML = '<p>Retrieving suitable companions...</p>';
    const companions = await gw.companions.discover({
        id,
        thresh
    });
    let html = `<p>${companions.length} companions found for ${name} (<i>${species}</i>)</p>`;
    for (const plant of companions) {
        html += plantLink(plant);
    }
    results.innerHTML = html;
    document.getElementById('search-field').value = species;
    document.getElementById('search-results').innerHTML = '';
}
</script>