<!doctype html>
<title>Greenworld - Companion Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<p>
    Find a plant's companions by various query options
</p>


<div>
    Plant:
    {% import 'macros/search.html' as lookup %}
    {{ lookup.render(None, '(plant) => gw.companions.getSearchLink(plant)') }}
</div>

<div id="companion-results"></div>

</br>

<script>
let previous;
let searched;

async function renderCompanions(id, name, species) {
    const results = document.getElementById('companion-results');
    results.innerHTML = '<p>Retrieving suitable companions...</p>';
    previous = null;
    const companions = await gw.companions.discover({
        id,
        previous
    });
    let html = `<p><span id="companion-number">${companions.length}</span> companions found for ${name} (<i>${species}</i>)</p>`;
    for (const plant of companions) {
        html += `${gw.companions.getLink(plant, species)}</br>`;
        if (previous === null || plant.id > previous) {
            previous = plant.id;
        }
    }
    results.innerHTML = html;
    results.innerHTML += `<a id="render-more" onclick="renderMore(${id})"><b>Load more</b></a>`;
    document.getElementById('search-field').value = species;
    document.getElementById('search-results').innerHTML = '';
    searched = species;
}

async function renderMore(id) {
    const results = document.getElementById('companion-results');
    const companions = await gw.companions.discover({
        id,
        previous
    });
    let html = '';
    for (const plant of companions) {
        html += `${gw.companions.getLink(plant, searched)}</br>`;
        if (previous === null || plant.id > previous) {
            previous = plant.id;
        }
    }
    results.innerHTML += html;
    document.getElementById('companion-number').innerHTML = parseInt(document.getElementById('companion-number').innerHTML) + companions.length;
    document.getElementById('render-more').outerHTML = '';
    if (companions.length > 0) {
        results.innerHTML += `<a id="render-more" onclick="renderMore(${id})"><b>Load more</b></a>`;
    }
}
</script>