<!doctype html>
<title>Greenworld - Companion Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<p>
    Find a plant's companions by various query options
</p>

<input type="checkbox" id="best" checked>
<label for="best">Sort by best companions</label>
</br>
</br>
</br>

<div>
    Plant:
    {% import 'macros/search.html' as lookup %}
    {{ lookup.render(None, '(plant) => gw.companions.getSearchLink(plant)') }}
</div>

<div id="companion-results"></div>

</br>

<script>
async function renderCompanions(id, name, species) {
    const results = document.getElementById('companion-results');
    results.innerHTML = '<p>Retrieving suitable companions...</p>';
    const companions = await gw.companions.discover({
        desc: document.getElementById("best").checked,
        id,
    });
    let html = `<p><span id="companion-number">Top ${companions.length}</span> companions found for ${name} (<i>${species}</i>)</p><table>`;
    html += '<tr><td><u>Comman name</u></td><td><u>Species</u></td><td><u>Compatibility score</u></td><td></td><td></td></tr>';
    for (const plant of companions) {
        html += gw.companions.getResultLink(plant, species);
    }
    html += '</table>';
    results.innerHTML = html;
    document.getElementById('search-field').value = species;
    document.getElementById('search-results').innerHTML = '';
}
</script>