<!doctype html>
<title>Greenworld - Guild Finder</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<p>
    Search a plant to discover novel guilds
</p>

{% import 'macros/search.html' as lookup %}
{{ lookup.render(None, '(plant) => `<a onclick=\"renderGuilds(${plant.id})\">${plant.name} (<i>${plant.species}</i>)</a>`') }}

<div id="finder-results"></div>

<script>
async function renderGuilds(id) {
    const thresh = 0.2;
    const results = document.getElementById('finder-results');
    results.innerHTML = '<p>Discovering guilds...</p>';
    const guilds = await gw.guilds.discover(id, thresh);
    let html = `<p>${guilds.length} guilds found within ${thresh} meters</p>`;
    for (const a in guilds) {
        html += `<div class="guild"><h3>Guild ${parseInt(a) + 1}</h3><p>${guilds[a].length} members</p><ul>`;
        for (const b of guilds[a]) {
            const plant = gw.guilds.plantHandlers[b];
            html += `<li><a href="${gw.getPlantsUrl(plant.species)}">${plant.name} (<i>${plant.species}</i>)</a></li>`;
        }
        html += '</ul></div>';
    }
    results.innerHTML = html;
}
</script>