<!doctype html>
<title>Greenworld</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<h2>
    Welcome to Greenworld!
</h2>

<h3>
    Explore {{ num_plants }} plant species and their {{ num_reports }} interactions
</h3>

<p>
    Search for plants, or use the <a class="on-white" href="{{ url_for('guild_placement_endpoint') }}">guild placement</a>:
</p>
{% import 'macros/search.html' as search %}
{{ search.render() }}
