<!doctype html>
<title>Greenworld - {{ plant['name'] }}</title>
<link rel = "stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<script>{% include 'script.js' %}</script>

<!-- Navigate to reports page -->
<p>
    Search for compatibility analysis with another plant:
</p>
{% import 'macros/search.html' as search %}
{{ search.render('search_partner(\'' + plant['species'] + '\')') }}
<br>
<br>
<br>

<!-- Include plant view -->
{% import 'macros/plant.html' as plant_view %}
{{ plant_view.render(plant, False) }}
