<!doctype html>
<title>Greenworld - {{ plant['name'] }}</title>

<!-- Navigate to reports page -->
<p>
    Search for compatibility analysis with another plant:
</p>
<input
    id = "search-field"
    type = "text"
    placeholder = "scientific name"/>
<button
    onclick = "search_partner()">
    Search
</button>

<script>

function search_partner() {
    const input = document.getElementById('search-field');
    window.location = `http://localhost:2017/report/{{ plant['species'] }}/${input.value}`;
}

</script>

<!-- Include plant view -->
{% import 'macros/plant.html' as plant_view %}
{{ plant_view.render(plant, False) }}
