<!doctype html>
<title>Greenworld - {{ plant['name'] }}</title>

<h3>
    {{ plant['name'] }}
</h3>
<p>
    <i>{{ plant['species'] }}</i>
</p>

<table>
{% for field in plant['fields'] %}
<tr>
    {{ field|safe }}
</tr>
{% endfor %}
</table>

<p><b>Ecology:</b></p>
<table>
{% for interaction in plant['ecology'] %}
<tr>
    <td>{{ interaction['name'] }} ({{ interaction['species'] }})</td>
    <td>{{ interaction['relationship'] }}</td>
    <td><a href="{{ interaction['citation'] }}">citation</a></td>
</tr>
{% endfor %}
</table>
