<!doctype html>
<title>Greenworld - {{ plant1['name'] }} x {{ plant2['name'] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
{% include "macros/scripting.html" %}
{% include "macros/header.html" %}

<h2>
    {{ plant1['name'] }} x {{ plant2['name'] }}
</h2>

<!-- Compatibility score -->
<p>
    <b>Compatibility score:</b>
    <span id="compatibility">
        {% if report['score'] == None %}
            N/A
        {% else %}
            {{ report['score']|round(3) }}
        {% endif %}
    </span>
</p>

<table class="ranges-table">
{% for factor in report['report'] %}
    {% set value, label = factor %}
    <tr>
        {% if value %}
            <td>{{ value }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>{{ label }}</td>
    </tr>
{% endfor %}
</table>
<br/>
<br/>
<br/>

<!-- Include plant views -->
{% import 'macros/plant.html' as plant_view %}
{{ plant_view.render(plant1, True) }}
{% if plant2.species != plant1.species %}
    {{ plant_view.render(plant2, True) }}
{% endif %}
