
<script src="{{ url_for('static', filename = 'require.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'script.js') }}"></script>
<script>
    require([
        'navigation',
        'guild'
    ], function (
        navigation,
        guild
    ) {
        window.gw = {
            base_url: '{{ url_for('homepage_endpoint') }}',
            navigation,
            guild
        };
        if (window.greenworld_init) {
            greenworld_init();
        }
    });
</script>
